{% extends  'layout.html' %}

{% block content %}
    <div class="jumbotron text-center">
        <h1>Welcome to Quantamental Trade</h1>
        <p class="lead">This application is built to supplement Quantamental Trading and Investing</p>
        <p class="text">Presentation</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/40BdjUfU7pA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p class="text">Demo Video</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/tVjj0rrhl6k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
{% endblock %}