{% extends  'layout.html' %}

{% block content %}
<div class="content-section">
    <form method="POST" action="/optimization/optimize">
        {{ form.hidden_tag() }}
        <fieldset class="from-group border-bottom mb-3">
            <legend class="border-bottom mb-2">Run Optimization</legend>
			<div class="from-group mb-2">
                {{ form.ticker.label(class="form-control-label") }}
                {% if form.ticker.errors %}
                    {{ form.ticker(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.ticker.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.ticker(class="form-control") }}
                {% endif %}
            </div>
            <div class="from-group mb-2">
                {{ form.start.label(class="form-control-label") }}
                {% if form.start.errors %}
                    {{ form.start(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.start.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.start(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="from-group mb-3">
                {{ form.end.label(class="form-control-label") }}
                {% if form.end.errors %}
                    {{ form.end(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.end.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.end(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="from-group mb-3">
                <p>
                    <input type="checkbox" name='lockup' value='lockup'>IPO Lockup Expiration (test using IPO and lockup expiration dates, available only for select stocks) <br>
                </p>

  			</div>
        <div class="from-group mb-3">
                {{ form.days.label(class="form-control-label") }}
                {% if form.days.errors %}
                    {{ form.days(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.end.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.days(class="form-control form-control-lg") }}
                {% endif %}
        </div>
        <div class="from-group mb-3">
            <p>
                <input type="checkbox" name='pretrain' value='pretrain'>Use Pre-trained Best Model (test using pre-trained model, available only for select stocks, try "FB") <br>
            </p>

        </div>
        <div class="from-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock %}